<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>OTP Verification</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="form-container">
    <h2>Enter OTP</h2>
    <form form action = "http://127.0.0.1:2025" method="get">
      <input type="text" placeholder="Enter OTP" required />
      <button type="submit">Verify</button>
    </form>
    <div class="links">
      <p><a href="forgot.html">Resend OTP</a></p>
    </div>
  </div>
</body>
</html>
